<mat-accordion>
    <mat-expansion-panel *ngFor="let city of cityDetails">
      <mat-expansion-panel-header class="col-12">
        <mat-panel-title class="col-3">
          {{city.weather?.name}}
        </mat-panel-title>
        <mat-panel-description class="col-9">
            <div class="row col-12 ">
              <span class="col-4">Temperature - {{city.weather?.main.temp}}</span>
              <span class="col-4">Sunrise - {{city.weather?.sys.sunrise * 1000 | date: "shortTime"}}</span>
              <span class="col-4">Sunset - {{city.weather?.sys.sunset * 1000 | date: "shortTime"}}</span>
            </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-city-details [cityDetails]="city.forecast"></app-city-details>
    </mat-expansion-panel>      
  </mat-accordion>
  