<h6>Forecast</h6>
<div *ngFor="let details of filteredCityDetails">
    <div class="row col-12">
        <span class="col-3">{{details.dt_txt | date: 'M/d/yy, h:mm a'}}</span>
        <span class="col-3">Temperature - {{details.main.temp}}</span>
        <span class="col-3">Sea Level - {{details.main.sea_level}} hPA</span>
    </div>
</div>